.buildControls {
  width: 100%;
  background: #DDD0BE;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 1px #ccc;
  margin: auto;
  padding: 10px 0;
}


.orderButton {
  background-color: #211D1E;
  outline: none;
  cursor: pointer;
  color: #F5B515;
  font-family: inherit;
  font-size: 1.2em;
  padding: 15px 30px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.orderButton:hover, .orderButton:active {
  background-color: #F5B515;
  color: #211D1E;
}

.orderButton:disabled {
  background-color: #C7C6C6;
  cursor: not-allowed;
  border: 1px solid #ccc;
  color: #888888;
}

.orderButton:not(:disabled) {
  animation: enable 0.3s linear;
}

@keyframes enable {
  0% {
      transform: scale(1);
  }
  60% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}
